{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Welcome {{session.username}},</h1>
    <h2>to your dashboard</h2>
    <p> Here you can create, delete and update your posts as well as view your exisiting posts.</p>
    <a class="btn btn-success" href="/add_article">Add Article</a>
    <hr>
</div>

    <h2>All articles</h2>

           {% for article in articles %}
        
        <div class="card w-75">
                <div class="card-body" style="background-color: wheat">
                        <h3 class="list-group-item" style="background-color: slategray"><a href="article/{{article.id}}" style="text-decoration: none; color: white;">{{article.title}}</a></h3>
                        
                        <p class="card-text">{{article.body | safe}}.</p>
                        <p class="card-text">{{article.create_date}}</p>
                        <button class="btn" style="background-color: slategray"><a href="{{ ''.join(['http://', article.doc_link])  }}" class="card-link" style="color: white; text-decoration: none">click to see the full article</a></button>
                                  <hr>
                  <form action="{{url_for('delete_article', id=article.id)}}" method="post">
                      <input type="hidden" name="_method" value="DELETE">
                      <div class="btn-group mr-2" role="group" aria-label="First group">
                        <input type="submit" value="Delete" class="btn btn-danger">
                        <a href="edit_article/{{article.id}}" class="btn btn-warning">Edit</a>
                      </div>
                    </form>
                </div>
              </div>
              <br>

        {% endfor %}

   

{% endblock %}